/**
Copyright 2024 Scott Lewis, All rights reserved.
**/
#map {
  // display: inline-block;
  // width: 275px;
  // height: 400px;
  position: fixed !important;
  margin-left: 60px;
  margin-top: 30%;
}

.button-container {
  bottom: 150px;
  margin-left: 80px;
  position: fixed;
}
