<!--
Copyright 2024 Scott Lewis, All rights reserved.
-->
<div class="content-container">
  <ion-content>
    <div style="margin-bottom: 30px;margin-top: 10px;">
      <div style="text-align: left !important;position: absolute;">
        <ion-button (click)="dismiss(false)" fill="clear" color="dark">
          <ion-icon name="chevron-back-sharp"></ion-icon>
        </ion-button>
      </div>
    </div>
    <div class="content">
      <h2>Where did you find the tooth?</h2>
      <capacitor-google-map id="map"></capacitor-google-map>
      <div class="button-container">
        <ion-button (click)="dismiss(true)" color="primary" expand="block" fill="solid"
          style="margin-left: 20px; margin-right: 20px; margin-top: 10px; margin-bottom: 15px;"><ion-icon name="location"
            slot="start"></ion-icon> Save Location
        </ion-button>
      </div>
    </div>
  </ion-content>
</div>