<!--
Copyright 2024 Scott Lewis, All rights reserved.
-->
<ion-content class="container">
  <div id="container" style="text-align: center; margin-top: 5px;">
    <div style="margin-bottom: 30px;margin-top: 10px;">
      <div style="text-align: left !important;position: absolute;">
        <ion-button *ngIf="isNew" (click)="dismiss(false, false)" fill="clear" color="dark">
          <ion-icon name="chevron-back-sharp"></ion-icon>
        </ion-button>
        <ion-button *ngIf="!isNew" (click)="dismiss(false, true)" fill="clear" color="dark">
          <ion-icon name="chevron-back-sharp"></ion-icon>
        </ion-button>
      </div>
    </div>
    <div style="margin-top: 15px;">
      <h3 id="stateName" *ngIf="isNew">Add A Tooth</h3>
      <h3 id="stateName" *ngIf="!isNew">Edit Tooth</h3>
      <div class="image-container" style="margin-top: 10px;">
        <ion-img [src]="imageUrl" alt="Picture of tooth" (ionError)="onImageError()" *ngIf="!imageFailed && imageUrl"
          class="found-image"></ion-img>
      </div>
      <ion-button *ngIf="!imageUrl" (click)="takePicture()" color="primary" fill="solid"
        style="margin-left: 20px; margin-right: 20px; "><ion-icon name="camera" slot="start"></ion-icon> Take Picture
      </ion-button>
      <ion-button *ngIf="imageUrl" (click)="takePicture()" color="primary" fill="solid"
        style="margin-left: 20px; margin-right: 20px; "><ion-icon name="camera" slot="start"></ion-icon> Retake Picture
      </ion-button>
      <hr>
      <div class="section-container rare number">
        <ion-label style="text-align: start; display: block; margin-bottom: 10px;" position="stacked"
          class="description-label">How many teeth did you find?</ion-label>
        <div class="description-input">
          <ion-input (ionChange)="teethCountChange($event)" aria-label="How many teeth did you find?"
            placeholder="# of teeth" class="rare-description-textarea" [value]="teethCount" type="number"></ion-input>
          <ion-icon name="pencil" slot="end" style="font-size: 20px;"></ion-icon>
        </div>
      </div>
      <p style="font-size: 12px; font-weight: 400; margin-top: 10px; margin-bottom: -10px;">Found on </p>
      <p style="font-weight: bold; margin-top: 20px;">
        <span style="display: inline-flex; align-items: center;">
          <ion-icon name="calendar-outline" style="font-size: 24px; margin-right: 10px;"></ion-icon>
          <ion-datetime-button datetime="datetime"></ion-datetime-button>
          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime id="datetime" [showDefaultButtons]="true" [value]="isoDate"
                (ionChange)="foundDateChange($event)"></ion-datetime>
            </ng-template>
          </ion-modal>
        </span>
      </p>
      <p style="font-weight: bold; margin-top: 15px;"
        *ngIf="!showEditLocation && location && location.city && location.state">
        <ion-icon name="location-outline" style="font-size: 24px; margin-right: 6px;"></ion-icon> in
        {{location.city}}, {{location.state}}
        <ion-icon name="pencil" slot="end" style="font-size: 20px;" (click)="editLocation()"
          *ngIf="location"></ion-icon>
      </p>
      <div *ngIf="showEditLocation" style="display: flex;align-items: center;justify-content: center;">
        <div class="section-container rare" style="margin-right: 0;">
          <ion-label style="text-align: start; display: block; margin-bottom: 10px;" position="stacked"
            class="description-label">Where did you find it?</ion-label>
          <div class="description-input">
            <input aria-label="Where did you find it?" class="rare-description-textarea" id="locationInput"
              #placesRef="ngx-places" ngx-gp-autocomplete (onAddressChange)="handleAddressChange($event)" (input)="locationChange($event)"/>
            <ion-icon name="pencil" slot="end" style="font-size: 20px;"></ion-icon>
          </div>
        </div>
        <ion-icon name="location" slot="end" style="font-size: 24px;margin-left: 0px;margin-top: 15px;"
          (click)="recordLocation(true)"></ion-icon>
      </div>
      <div class="undo-button" (click)="undoLocation()" *ngIf="showEditLocation && location">
        <ion-icon name="arrow-undo" slot="start"></ion-icon>Undo Location
      </div>
      <hr class="vehicle-divider" />
      <ion-accordion-group expand="inset">
        <ion-accordion value="first">
          <ion-item slot="header" color="light">
            <ion-label>Additional Info (optional)</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <div class="section-container rare">
              <ion-label style="text-align: start; display: block; margin-bottom: 10px;" position="stacked"
                class="description-label">What kind of
                tooth did you find? (Optional)</ion-label>
              <ion-text class="rare-example" slot="start">e.g.: Color, Size, Type, etc.</ion-text>
              <div class="description-input">
                <ion-input (ionChange)="descriptionChange($event)" aria-label="What kind of tooth did you find?"
                  placeholder="Description" class="rare-description-textarea" [value]="description"></ion-input>
                <ion-icon name="pencil" slot="end" style="font-size: 20px;"></ion-icon>
              </div>
            </div>
            <div class="section-container rare">
              <ion-label style="text-align: start; display: block; margin-bottom: 10px;" position="stacked"
                class="description-label">How many minutes were you searching for?</ion-label>
              <div class="description-input">
                <ion-input (ionChange)="searchMinutesChange($event)"
                  aria-label="How many minutes were you searching for?" placeholder="# of minutes"
                  class="rare-description-textarea" [value]="searchMinutes" type="text"></ion-input>
                <ion-icon name="pencil" slot="end" style="font-size: 20px;"></ion-icon>
              </div>
            </div>
            <div class="section-container rare">
              <ion-label style="text-align: start; display: block; margin-bottom: 10px;" position="stacked"
                class="description-label">Beach Name</ion-label>
              <div class="description-input">
                <ion-input (ionChange)="beachNameChange($event)" aria-label="Beach Name" placeholder="Beach Name"
                  class="rare-description-textarea" [value]="beachName" type="text"></ion-input>
                <ion-icon name="pencil" slot="end" style="font-size: 20px;"></ion-icon>
              </div>
            </div>
            <div class="section-container rare">
              <ion-label style="text-align: start; display: block; margin-bottom: 10px;" position="stacked"
                class="description-label">Beach Access / Mile Number</ion-label>
              <div class="description-input">
                <ion-input (ionChange)="beachAccessChange($event)" aria-label="Beach Access / Mile Number"
                  placeholder="Access or Mile Number" class="rare-description-textarea" [value]="beachAccess"
                  type="text"></ion-input>
                <ion-icon name="pencil" slot="end" style="font-size: 20px;"></ion-icon>
              </div>
            </div>
          </div>
        </ion-accordion>
      </ion-accordion-group>
      <hr>
    </div>
    <ion-button *ngIf="isNew" (click)="dismiss(false, true)" color="primary" expand="block" fill="solid"
      style="margin-left: 20px; margin-right: 20px;margin-top: 25px;">I Found It!
    </ion-button>
    <ion-button *ngIf="!isNew" (click)="confirmDeleteState()" color="primary" expand="block" fill="outline"
      style="margin-left: 20px; margin-right: 20px; margin-bottom: 10px;margin-top: 25px;"><ion-icon name="trash"
        slot="start" color="dark"></ion-icon><ion-text color="dark">Delete</ion-text>
    </ion-button>
  </div>
</ion-content>