<!--
Copyright 2024 Scott Lewis, All rights reserved.
-->
<app-header title="Cookie Policy">
</app-header>
<ion-content>
  <div id="container">
    <!-- <pdf-viewer src="./assets/Cookie Policy.pdf" [render-text]="true" [original-size]="false"
      style="width: 100vw; height: 100vh;"></pdf-viewer> -->
    <!-- <iframe src="https://drive.google.com/file/d/1q16Vf-uONYsSq_l3oTfaXmy8qDpWV2aS/preview?usp=share_link"
      title="Cookie Policy" width="100%" height="100%"></iframe> -->
      <iframe src="https://app.termly.io/document/cookie-policy/986e0fc9-2bc1-4b41-8856-9f2e24a9e10b"
      title="Cookie Policy" style="width: 100vw; height: 100vh;"></iframe>
  </div>
</ion-content>