<!--
Copyright 2024 Scott Lewis, All rights reserved.
-->
<app-header title="Legal">
</app-header>
<ion-content>
  <div id="container">
    <h1>DISCLAIMER</h1>
    <p>Distracted driving is dangerous and can result in serious injury or death. The use of this
      app or its features while operating a motor vehicle is strictly prohibited. We do not condone or support any
      illegal or
      reckless behavior while using this app or its features. The user assumes all responsibility and liability for any
      and
      all consequences resulting from the use of this app or its features while operating a motor vehicle.</p>
    <br>
    <h2><a href="/privacy-policy">Privacy Policy</a></h2>
    <h2><a href="/terms-of-use">Terms of Use</a></h2>
    <h2><a href="/cookie-policy">Cookie Policy</a></h2>
  </div>
</ion-content>