/**
Copyright 2024 Scott Lewis, All rights reserved.
**/
ion-menu-button {
  color: var(--ion-color-primary);
}
ion-label{
  font-weight: bold;
}
.rate-button{
  margin-right: 15px;
}

#container {
  height: 100%;
  overflow-y: hidden;
 }