<!--
Copyright 2024 Scott Lewis, All rights reserved.
-->
<ion-content>
  <div style="text-align: left !important;position: absolute;">
    <ion-button (click)="goBack()" fill="clear" color="dark">
      <ion-icon name="chevron-back-sharp"></ion-icon>
    </ion-button>
  </div>
  <div id="container">
    <h2 class="title">Tips for Finding Shark Teeth</h2>
    <ion-list lines="full">
      <ion-item>
        <ion-icon slot="start" name="search-outline"></ion-icon>
        <ion-label>
          <h2>Search in Shallow Waters</h2>
          <p>Shark teeth often wash up in shallow waters, especially along the shoreline where waves break. Look in ankle to knee-deep water, scanning the sand as waves recede.</p>
        </ion-label>
      </ion-item>
  
      <ion-item>
        <ion-icon slot="start" name="sunny-outline"></ion-icon>
        <ion-label>
          <h2>Look During Low Tide</h2>
          <p>Low tide exposes more beach area, making it easier to spot shark teeth that may be hidden underwater during high tide. Plan your search during low tide for better visibility.</p>
        </ion-label>
      </ion-item>
  
      <ion-item>
        <ion-icon slot="start" name="compass-outline"></ion-icon>
        <ion-label>
          <h2>Pay Attention to Patterns</h2>
          <p>Shark teeth may accumulate in certain areas due to ocean currents or geological features. Look for patterns such as sandbars, ridges, or rocky outcrops, as these may concentrate shark teeth.</p>
        </ion-label>
      </ion-item>
  
      <ion-item>
        <ion-icon slot="start" name="cloudy-outline"></ion-icon>
        <ion-label>
          <h2>Search After Storms</h2>
          <p>Storms can churn up the ocean floor, exposing buried treasures like shark teeth. After a storm, visit the beach to search for freshly uncovered specimens washed ashore by rough waves.</p>
        </ion-label>
      </ion-item>
  
      <ion-item>
        <ion-icon slot="start" name="leaf-outline"></ion-icon>
        <ion-label>
          <h2>Look Near Vegetation</h2>
          <p>Vegetation along the shoreline can trap debris, including shark teeth, as it washes ashore. Check areas near dune grass, seaweed patches, or driftwood for hidden treasures.</p>
        </ion-label>
      </ion-item>
  
      <ion-item>
        <ion-icon slot="start" name="color-palette-outline"></ion-icon>
        <ion-label>
          <h2>Watch for Different Colors</h2>
          <p>Shark teeth come in various colors, ranging from black and gray to shades of brown and even white. Train your eye to spot these colors against the sandy beach background to increase your chances of finding them.</p>
        </ion-label>
      </ion-item>
  
      <ion-item>
        <ion-icon slot="start" name="help-buoy-outline"></ion-icon>
        <ion-label>
          <h2>Ask Locals for Tips</h2>
          <p>Local beachcombers and divers often have valuable insights on where to find shark teeth in the area. Don't hesitate to ask for tips and advice from those familiar with the beach.</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>