<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-button (click)="addTooth()" color="primary" expand="block" fill="solid"
    style="margin-left: 20px; margin-right: 20px; margin-top: 10px; margin-bottom: 15px;"><ion-icon name="camera" slot="start"></ion-icon> Add Tooth
  </ion-button>
  <div *ngFor="let tooth of this.allTeeth; index as i;">
    <ion-card (click)="editTooth(tooth)">
      <!-- <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" /> -->
      <img alt="Picture of tooth" [src]="tooth.photoUrl" class="cardPhoto" *ngIf="tooth.photoUrl"/>
      <ion-card-header>
        <ion-card-title>
          {{tooth.foundDate | dfnsFormat: 'MMMM d \'at\' h:mm a' }}
        </ion-card-title>
        <ion-card-subtitle *ngIf="tooth.location">{{tooth.location?.city ?? ""}}, {{tooth.location?.state ?? ""}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        {{tooth.description}}
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>